.welcome-container {
  margin-top: 50px;

}

.welcome-text {
  color: #ffffff; /* Texte initiallement transparent */
  font-family: "Montserrat-ExtraBold";
  font-size: 3.5em;
  margin: 20px;
  display: inline-block; /* Pour permettre l'animation sur chaque lettre */
}

@keyframes fadeInFromLeft {
  from {
    opacity: 0; /* Commencez avec une opacité de 0 pour les lettres */
    transform: translateX(-10px); /* Déplacez les lettres légèrement vers la gauche */
  }
  to {
    opacity: 1; /* Augmentez progressivement l'opacité */
    transform: translateX(0); /* Réinitialisez la position horizontale */
  }
}

.welcome-text span {
  display: inline-block; /* Pour permettre l'animation sur chaque lettre */
  animation: fadeInFromLeft 0.5s ease-in-out forwards; /* Utilisez l'animation CSS */
  animation-delay: calc(0.1s * var(--index)); /* Décalez chaque lettre pour une apparition séquentielle */
}


.welcome-button {
  display: flex;
  align-items: center; /* Centrer verticalement */
  justify-content: center; /* Centrer horizontalement */
  margin-top: 230px; /* Ajoutez une marge en haut pour séparer le bouton du logo */
}
